body {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
  font-family: "roboto";
  background-image: url("../images/bg-desktop.svg");
  background-color: hsl(257, 59%, 25%);
}

.container {
  max-width: 1198px;
  margin-left: auto;
  margin-right: auto;
}

.img-logo {
  margin-top: 40px;
  max-width: 200px;
}

.container-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .container-content_right{
    max-width: 100px;
} */

.content-right_title {
  color: white;
}

.content-right_text {
  color: white;
  max-width: 490px;
  line-height: 25px;
  margin-bottom: 40px;
}

.img-content {
  margin-top: 60px;
  max-width: 600px;
}

.btn-link {
  font-weight: bold;
  padding: 15px 50px;
  background-color: palevioletred;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0.5px 1px 3px 0px rgb(65, 33, 44);
}

.btn-link:hover {
  background-color: rgb(226, 226, 226);
  color: black;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in;
  transition-delay: 10ms;
  box-shadow: 2px 3px 7px 0px rgb(65, 33, 44);
}

.container-icons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

:hover.icon {
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in;
  transition-delay: 10ms;
  box-shadow: 0px 0px 7px 0px rgb(65, 33, 44);
  border-radius: 200px;
}

@media only screen and (max-width: 480px) {
  body {
    background-image: url("../images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .container {
    max-width: 360px;
  }

  .container-logo {
    display: flex;
    justify-content: center;
  }

  .logosite {
    max-width: 160px;
  }

  .container-contents {
    display: block;
  }

  .container-content_left {
    display: flex;
    justify-content: center;
  }

  .img-logo {
    margin-top: 30px;
  }
  .img-content {
    width: 100%;
    margin-top: 35px;
  }

  .content-right_title {
    text-align: center;
    margin-top: 35px;
  }
  .content-right_text {
    text-align: center;
  }

  .container-right_btn {
    text-align: center;
  }


  .container-icons{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


